<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ABCosmetic Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href=@Url.Content("/Template/vendor/bootstrap/css/bootstrap.min.css")>
    <link href=@Url.Content("/Content/bootstrap.min.css") rel="stylesheet">
    <script href=@Url.Content("/Scripts/bootstrap.min.js")></script>
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href=@Url.Content("/Template/vendor/font-awesome/css/font-awesome.min.css")>
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href=@Url.Content("/Template/css/fontastic.css")>
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href=@Url.Content("/Template/css/grasp_mobile_progress_circle-1.0.0.min.css")>
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href=@Url.Content("/Template/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css")>
    <!-- theme stylesheet-->
    <link rel="stylesheet" href=@Url.Content("/Template/css/style.default.css") id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href=@Url.Content("/Template/css/custom.css")>
    <!-- Favicon-->
    <link rel="shortcut icon" href=@Url.Content("/Template/img/favicon.ico")>
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center">
                    <img src="@Url.Content("/Template/img/COMMUNICATION.png")" alt="manager" class="img-fluid rounded-circle">
                    <h2 class="h5">@Session["Fullname"]</h2><span>Manager</span>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo">
                    <a href="@Url.Action("Manager", "Home")" class="brand-small text-center">
                        <strong class="text-primary">ABC</strong>
                    </a>
                </div>
            </div>
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li>
                        <a href="#manage" aria-expanded="false" data-toggle="collapse">
                            <i class="fa fa-gears"></i>
                            Manage
                        </a>
                        <ul id="manage" class="collapse list-unstyled ">
                            <li><a href="@Url.Action("Index", "Stores")"><i class="icon-home"></i>Store</a></li>
                            <li><a href="@Url.Action("Index", "Users")"><i class="icon-user"></i>Staff</a></li>
                            <li><a href="@Url.Action("Index", "Categories")"><i class="icon-form"></i>Category</a></li>
                            <li><a href="@Url.Action("Index", "Products")"><i class="icon-padnote"></i>Product</a></li>
                            <li><a href="@Url.Action("Index", "ViewOrders")"><i class="icon-bill"></i>Order</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#report" aria-expanded="false" data-toggle="collapse">
                            <i class="fa fa-bar-chart"></i>
                            Report
                        </a>
                        <ul id="report" class="collapse list-unstyled ">
                            <li><a href="@Url.Action("StaffList", "ViewOrders")"><i class="icon-user"></i>Staff</a></li>
                            <li><a href="@Url.Action("StoreList", "ViewOrders")"><i class="icon-home"></i>Store</a></li>
                            <li><a href="@Url.Action("GeneralReport", "ViewOrders")"><i class="fa fa-globe"></i>All</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="fa fa-navicon"> </i></a><a href="@Url.Action("Manager", "Home")" class="navbar-brand">
                                <div class=" d-none d-sm-inline-block"><strong class="text-primary" style="font-size: 20px">ABCosmetic </strong><span> Online Shop</span></div>
                            </a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Log out-->
                            <li class="nav-item"><a href="@Url.Action("Logout","Login")" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-fluid mt-4">
            @RenderBody()
        </div>
    </div>
    <!-- JavaScript files-->
    <script src=@Url.Content("/Template/vendor/jquery/jquery.min.js")></script>
    <script src=@Url.Content("/Template/vendor/popper.js/umd/popper.min.js")></script>
    <script src=@Url.Content("/Template/vendor/bootstrap/js/bootstrap.min.js")></script>
    <script src=@Url.Content("/Template/js/grasp_mobile_progress_circle-1.0.0.min.js")></script>
    <script src=@Url.Content("/Template/vendor/jquery.cookie/jquery.cookie.js")></script>
    <script src=@Url.Content("/Template/vendor/chart.js/Chart.min.js")></script>
    <script src=@Url.Content("/Template/vendor/jquery-validation/jquery.validate.min.js")></script>
    <script src=@Url.Content("/Template/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")></script>
    <script src=@Url.Content("/Template/js/charts-home.js")></script>
    <!-- Main File-->
    <script src=@Url.Content("/Template/js/front.js")></script>
</body>
</html>